
// header start


.lounch-header {
    padding: 40px 0 76px 55px;
}
.lounch-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lounch__logo-link {
    display: inline-block;
}


.navbar__list {
    display: flex;
    align-items: center;
    gap: 38px;
}
.navbar{
    position: relative;
    width: 830px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(81.55px);
    background: rgba(255, 255, 255, 0.04);

    &::before{
        content: "";
        position: absolute;
        width: 473px;
        height: 1px;
        background: rgba(255, 255, 255, 0.25);
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: -449px;
        
    }
}

.navbar__link {
    display: inline-block;
    padding: 35px 0;
    color: rgb(255, 255, 255);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.7px;
    border-bottom:2px solid transparent ;
    transition: all 0.3s;

    &:hover{
        border-color: white;
    }
}
.navbar__bold {
    display: inline-block;
    margin-right: 11px;
    color: rgb(255, 255, 255);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.7px;
}

// header end







.space-page{
    width: 100%;
    background-image: url(../images/space-bg.png);
    background-size: 100% 100vh;
    height: 100vh;
    background-position: top right;
}


.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space__wrapper-left {
    width: 450px;
}
.space__wrapper-title {
    margin-bottom: 15px;
        color: rgb(208, 214, 249);
        font-family: Barlow Condensed;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 4.72px;
        
}
.space__wrapper-name {
    margin-bottom: 15px;
        color: rgb(255, 255, 255);
        font-family: Bellefair;
        font-size: 150px;
        font-weight: 400;
        line-height: 172px;
        letter-spacing: 0px;
        
}
.space__wrapper-text {
        color: rgb(208, 214, 249);
        font-family: Barlow;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;

}
.space__wrapper-right {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.space__right-title{
    color: rgb(11, 13, 23);
    font-family: Bellefair;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 2px;
}